<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dicdog1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

     <supports-screens android:smallScreens="true" 
          android:normalScreens="true" 
          android:largeScreens="true"
          android:xlargeScreens="true"
          android:anyDensity="true" />
   
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".HospitalsActivity"
            android:label="@string/title_activity_hospitals" >
        </activity>
        <activity
            android:name=".SpecialityActivity"
            android:label="@string/title_activity_speciality" >
        </activity>
        <activity
            android:name=".DoctorsActivity"
            android:label="@string/title_activity_doctors" >
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name=".Landingpage"
            android:label="@string/title_activity_landingpage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoctorsList"
            android:label="@string/title_activity_doctors_list" >
        </activity>
         <activity
            android:name=".DoctorsList2"
            android:label="@string/title_activity_doctors_list2" >
        </activity>
        
        <activity
            android:name=".SelectedDoctor"
            android:label="@string/title_activity_selected_doctor" >
        </activity>
        <activity
            android:name=".SearchingByTime"
            android:label="@string/title_activity_searching_by_time" >
        </activity>
        <activity
            android:name=".Search_doctors"
            android:label="@string/title_activity_search_doctors" >
        </activity>
    </application>

</manifest>
